# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rbuildignore

# RStudio files
.Rproj.user/

# HTML builds of md
*.html

#docx outputs
*.docx

# DS Store
.DS_Store
*/.DS_Store

#checking script
hmmrCheckScript.sh

#claude
CLAUDE.md