
importFrom(stats, "predict", "simulate", "as.formula", "gaussian","dbinom", "dnorm", "rbeta", "rgamma", "rnorm")

importFrom(stats4, summary)

import(depmixS4)

export(hmm,
	lca,
	FFBS_BinomialNormal)
